assets/Automação_AIRTOP.json
{
  "name": "Automação - AIRTOP - EAD PRIME MT",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -912,
        224
      ],
      "id": "b0f75149-7938-4a1a-affd-76a146fcee62",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "window",
        "sessionId": "=08791c79-adc9-4770-877f-1ca29c08ede9",
        "url": "https://primemt.curso.study/index.php",
        "getLiveView": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [
        -688,
        224
      ],
      "id": "1d08b6d6-4c4b-45a9-9c8a-5a11f83b5808",
      "name": "Create a window",
      "credentials": {
        "airtopApi": {
          "id": "FOo4PdEtsBnhgHuc",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "resource": "window",
        "operation": "load",
        "sessionId": "=08791c79-adc9-4770-877f-1ca29c08ede9",
        "windowId": "={{ $('Create a window').item.json.windowId }}",
        "url": "https://primemt.curso.study/cursos.php",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [
        272,
        400
      ],
      "id": "7a03b113-070f-429e-9b4d-4d21153a47e7",
      "name": "Load a page",
      "credentials": {
        "airtopApi": {
          "id": "FOo4PdEtsBnhgHuc",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "resource": "interaction",
        "operation": "type",
        "text": "={{ $('Split Out').item.json.lista }}",
        "pressEnterKey": true,
        "elementDescription": "The search box with the text \"Pesquise pelo nome do curso\".",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [
        480,
        400
      ],
      "id": "c837cc95-522c-45d4-b42e-599dd9f1948c",
      "name": "Type text",
      "credentials": {
        "airtopApi": {
          "id": "FOo4PdEtsBnhgHuc",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "resource": "interaction",
        "elementDescription": "The button with the text \"Editar\", with Xpath /html/body/div[1]/div[3]/div[3]/div/div/div/div/div[2]/table/tbody/tr/td[8]/a/button",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [
        880,
        400
      ],
      "id": "00fa2e0f-20d9-4ea3-af78-d91a7fcb9b1b",
      "name": "Click an element",
      "credentials": {
        "airtopApi": {
          "id": "FOo4PdEtsBnhgHuc",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        400
      ],
      "id": "afdee2ae-ca08-4424-a899-09c2ff2f768a",
      "name": "Wait",
      "webhookId": "8bfe8614-9869-4137-8eb7-4c02096d759c"
    },
    {
      "parameters": {
        "resource": "interaction",
        "operation": "type",
        "text": "https://wa.me/5565996810153",
        "pressEnterKey": true,
        "elementDescription": "The search box with the text \"Url para página externa (Opcional)\".",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtop",
      "typeVersion": 1,
      "position": [
        1232,
        400
      ],
      "id": "a6c65765-6f7e-482c-8ce6-14cc1bc468f5",
      "name": "Type text1",
      "credentials": {
        "airtopApi": {
          "id": "FOo4PdEtsBnhgHuc",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1056,
        400
      ],
      "id": "a7ab8fdb-b0fd-40e4-bd30-e41921ad1311",
      "name": "Wait1",
      "webhookId": "670be244-23ec-45c0-9157-866a8565850e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8b3b7ed-6429-4172-ba9d-f70bfb30b4bd",
              "name": "lista",
              "value": "['Administração Mercado de trabalho',  'Elaboração de Currículo',  'PhotoShop CC',  'Atendente de Farmácia',  'Illustrator 2022',  'Criação de App Android e iOS',  'Montagem e Manutenção de PC',  'Segurança na Internet',  'Técnicas de Vendas',  'Linux',  'Contabilidade',  'Empreendedorismo',  'Departamento Pessoal',  'Marketing Digital',  'Cuidador de Idoso',  'Gestão em RH',  'Edição de Vídeo Premiere',  'Instagram para Vendas',  'Massagem Modeladora',  'Excel Básico e Avançado',  'JavaScript',  'Google Drive',  'Windows 10',  'Microsoft Word',  'Power Point',  'Corel Draw X8',  'Telemarketing',  'Filosofia',  'Auxiliar de Creche',  'Como ser um Youtuber',  'Access 2016',  'Canva',  'Mídias sociais',  'Blender 3D',  'Programação de sites Wordpress',  'Bitcoin',  'InDesign',  'Introdução a Informática',  '3D Studio Max Básico',  'After Effects',  'Lógica de Programação',  'Google Adwords',  'Criação de Loja Virtual',  'SketchUp',  'AutoCad 2D e 3D',  'Operador de Caixa',  'Técnicas de Redação',  'Matemática para Enem',  'Manutenção de Celular Básico ao Avançado',  'Agente de Portaria',  'Designer de Cílios & Sobrancelha',  'História',  'Geografia',  'Auxiliar de necrópsia',  'Socorrista APH',  'Biologia',  'Física',  'Português',  'Química',  'Libras',  'Almoxarifado',  'Maquiagem',  'Logística 4.0',  'Atualização em Radiologia',  'Supervisão Pedagógica',  'Frentista de Posto de Combustivel',  'Auxiliar de Veterinário',  'Operador de Empilhadeira',  'Eletricista',  'NR-10',  'Power Bi',  'Pá Carregadeira',  'Windows 11',  'Digitação Interativa',  'Fiscal de Loja',  'Solda MIG/MAG',  'Retroescavadeira',  'Operador de Podcast',  'Interactive English',  'TBO - Treinamento Básico Operacional',  'Hotelaria e Turismo',  'Conhecimentos Bancários',  'Investimento no mercado financeiro',  'Matemática financeira',  'Solda TIG',  'Criação de Game Profissional',  'Educação Física',  'Artes',  'Sociologia',  'Manicure e Pedicure',  'Dropshipping',  'Matemática',  'Energia Solar',  'Barbeiro Profissional',  'Ponte Rolante',  'Mediador Escolar',  'NR-33',  'Espanhol',  'Windows 11 Kids',  'Análises Clínicas',  'NR-34',  'NR-35 TTrabalho em Altura',  'Oratória',  'Word Kids',  'Jornalismo',  'Robótica',  'WhatsApp Business',  'Literatura',  'Auxiliar Corretor de Imóveis',  'Estoque e Faturamento',  'Inteligência artificial',  'Agente Comunitário de Saúde',  'Teologia Histórica',  'Excel Kids',  'Celular para Idosos',  'NR-33 - básico']",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        224
      ],
      "id": "66973e4a-316b-4b9e-9066-3a91738d9ef9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "lista",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -272,
        112
      ],
      "id": "b1f46878-e4de-40c8-b5be-b2a72b3d527b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        224
      ],
      "id": "1def7a26-22a9-4b74-91b2-2f1e6d5a94b3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        256,
        208
      ],
      "id": "7534fe0a-e5d4-4edd-958e-fb945227ff3d",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create a window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a window": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load a page": {
      "main": [
        [
          {
            "node": "Type text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type text": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Click an element",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Click an element": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Type text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load a page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type text1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ad8024a-9642-4161-85ed-45b840dac166",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b9cf5925e652d7333ef97429bdf8df6a7442d9560d3e7cebaed1fc8e4e5f6a19"
  },
  "id": "KvoIkEhZ4VSFdmss",
  "tags": []
}
